@* このテンプレートの引数 *@
@(messageForm: Form[controllers.MessageController.MessageForm], msg: Seq[models.Tables.MessagesRow])(implicit messages: Messages)

@* テンプレートで利用可能なヘルパーをインポート *@
@import helper._

@main("メッセージ一覧") {

    @form(messageForm("messageId").value.map(x => routes.MessageController.create).getOrElse(routes.MessageController.create), 'class -> "container", 'role -> "form") {
    <div class="col-md-12 col-xs-12">
        <filedset>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-xs-3">
                        @inputText(messageForm("messageFromName"), '_label -> "送信者", 'size -> 20)
                    </div>
                    <div class="col-md-3 col-xs-3">
                        @textarea(messageForm("message"), '_label -> "内容", 'size -> 200, 'rows -> 2)
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <input type="submit" value="送信" class="btn btn-success">
                    </div>
                    <div class="col-md-3 col-xs-3">
                    </div>
                </div>
            </div>
         </filedset>
    </div>
    }
    <div class="col-md-12 col-xs-12">
        <div class="col-md-8 col-xs-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>送信者</th>
                    <th>内容</th>
                    <th>送信日時</thw>
                </tr>
                </thead>
                <tbody>
                @* メッセージの一覧をループで出力 *@
                @msg.map { message =>
                <tr>
                    <td>@message.messageFromName</td>
                    <td><textarea readonly>@message.message</textarea></td>
                    <td>@{message.updateDate.format("yyyy/MM/dd HH:mm:ss")}</td>
                </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-xs-4">
        </div>
    </div>

}